body{
    background-color: orange;
}
header{
    text-align: center;
}
iframe{
    padding: 2px 30px;
}
p{
    text-align: right; 
    
}
.img1{
    margin-left: 270px;
}
.img2{
    margin-left: 40px;
}
.img3{
    margin-left: 40px;
}
.img4{
    margin-left: 40px;
}
.img5{
    margin-left: 40px;
}
.img6{
    margin-left: 40px;
}